 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="rocket-light">
                    <h4><i class="fa fa-quote-left"></i>  <i>The main reason most ideas die is down to the lack of help</i>  <i class="fa fa-quote-right"></i> </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><i>Trigger My Idea is going to be that help.</i> It is a platform for budding entrepreneurial minds to share their ideas, meet like-minded students, brainstorm and innovate. We then help get them running and execute their ideas. For any aspiring entrepreneur, the most difficult thing to start-up is to find a capable and competent team and then to gain support: moral, motivational and financial. Trigger My Idea will assist these ambitious minds to overcome the aforementioned challenges.</p>
                </div>
                <div class="col-lg-4">
                    <p>How do we do this? Using our network, we arrange meetings with the respective industry experts for the students to discuss and develop their idea. On validation, based on their requirements, forming a team of diversely skilled members who would then be capable of officially starting and running their own company. While the team works on creating the prototype, we would help them raise finances by crowd funding, arranging for meetings with potential investors, etc.</p>
                </div>
                <div class="page-scroll">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-mail"></i> Send us your ideas
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>